[
    {
        "account": "account_1",
        "UUID": "uuid_1",
        "APIKey": "api_key_1",
        "SecretKey": "secret_key_1",
        "password": "password_1"
    },
    {
        "account": "account_2",
        "UUID": "uuid_2",
        "APIKey": "api_key_2",
        "SecretKey": "secret_key_2",
        "password": "password_2"
    }
]
